@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaT;
  font-display: swap;
  src: url("../fonts/ProximaNovaT-Thin.woff2") format("woff2"), url("../fonts/ProximaNovaT-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
  line-height: 100%;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  background: transparent;
}

#demonote {
  display: none;
}

/*--------------------*/

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#A5D5F6), color-stop(4.69%, #C9EFFB), color-stop(8.78%, #E9F7FF), color-stop(23.28%, #DFF3FE), color-stop(41.12%, #5AB5EE), color-stop(55.34%, #4F9FDC), color-stop(76.35%, #1F5BA3), color-stop(90.63%, #082E60), to(#001C41));
  background: -o-linear-gradient(top, #A5D5F6 0%, #C9EFFB 4.69%, #E9F7FF 8.78%, #DFF3FE 23.28%, #5AB5EE 41.12%, #4F9FDC 55.34%, #1F5BA3 76.35%, #082E60 90.63%, #001C41 100%);
  background: linear-gradient(180deg, #A5D5F6 0%, #C9EFFB 4.69%, #E9F7FF 8.78%, #DFF3FE 23.28%, #5AB5EE 41.12%, #4F9FDC 55.34%, #1F5BA3 76.35%, #082E60 90.63%, #001C41 100%);
}

body._active {
  overflow: hidden;
}

a {
  color: #000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-size: 50px;
  color: #0C336F;
}

.title span {
  text-transform: uppercase;
}

* ._anim-items._visible {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.button {
  color: #fff;
  white-space: nowrap;
  font-weight: 700;
  font-size: 15px;
  padding: 17px 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 300px;
  border: 2px solid #8CDD00;
  background: -webkit-gradient(linear, left top, left bottom, from(#C7FF6B), to(#82AA41));
  background: -o-linear-gradient(top, #C7FF6B 0%, #82AA41 100%);
  background: linear-gradient(180deg, #C7FF6B 0%, #82AA41 100%);
  -webkit-box-shadow: 0px 24px 34px 0px rgba(170, 195, 101, 0.25), 0px 3px 0px 0px #82AA41, 0px -1px 34px 0px #FFF7B1 inset;
          box-shadow: 0px 24px 34px 0px rgba(170, 195, 101, 0.25), 0px 3px 0px 0px #82AA41, 0px -1px 34px 0px #FFF7B1 inset;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.button:hover {
  opacity: 0.8;
}

.header {
  padding: 30px 0px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Inter", "Helvetica Neue", Helvetica, sans-serif;
}

.header__container {
  margin: 0 auto;
  padding: 0px 30px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__logo img {
  max-width: 175px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
}

.header__menu-icon {
  display: none;
}

.menu {
  position: relative;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__link:hover {
  color: #0C336F;
}

.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header-items__label {
  font-size: 11px;
  margin-bottom: 5px;
  color: #0C336F;
}

.header-items__link {
  font-size: 17px;
  color: #0C336F;
  font-weight: 600;
  white-space: nowrap;
}

.header-items__arrow {
  margin-left: 10px;
}

.header-items-dropdown {
  position: relative;
}

.header-items-dropdown__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-items-dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-items-dropdown__list li {
  padding: 16px;
  display: block;
}

.header-items-dropdown__link {
  font-size: 17px;
  color: #0C336F;
  font-weight: 600;
  display: block;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header-items-dropdown__link:hover {
  opacity: 0.8;
}

.header-items-dropdown:hover .header-items-dropdown__list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.intro {
  position: relative;
  overflow: hidden;
}

.intro__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.intro__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 100px 0px;
  max-width: 770px;
}

.intro__title {
  margin-bottom: 16px;
}

.intro__text {
  display: block;
  line-height: 130%;
  font-family: "Inter", "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 30px;
  font-size: 18px;
  color: #0C336F;
}

.intro__button {
  font-size: 27px;
  padding: 34px 80px;
  border-radius: 300px;
  border: 2px solid #8CDD00;
  background: -webkit-gradient(linear, left top, left bottom, from(#C7FF6B), to(#82AA41));
  background: -o-linear-gradient(top, #C7FF6B 0%, #82AA41 100%);
  background: linear-gradient(180deg, #C7FF6B 0%, #82AA41 100%);
  -webkit-box-shadow: 0px 44px 34px 0px rgba(166, 200, 74, 0.25), 0px 9px 0px 0px #82AA41, 0px -1px 34px 0px #FFF7B1 inset;
          box-shadow: 0px 44px 34px 0px rgba(166, 200, 74, 0.25), 0px 9px 0px 0px #82AA41, 0px -1px 34px 0px #FFF7B1 inset;
}

.intro__bg img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__image img {
  position: absolute;
  bottom: 20%;
  right: 8%;
  max-width: 235px;
}

.intro__decor img {
  position: absolute;
  width: 100%;
  bottom: -20%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 535px;
  z-index: 1;
}

@media (max-width: 1400px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 1300px) {
  .header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 1270px) {
  .title {
    font-size: calc(32px + 18 * ((100vw - 360px) / 950));
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 700px;
  }

  .header__logo img {
    max-width: 104px;
  }

  .header__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }

  .header__menu-icon {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16px;
            flex: 0 0 16px;
    display: block;
    z-index: 2;
    position: relative;
  }

  .header__menu-icon span,
  .header__menu-icon:before,
  .header__menu-icon:after {
    height: 2px;
    width: 100%;
    left: 0;
    display: block;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
    background: #0C336F;
    border-radius: 5px;
  }

  .header__menu-icon:after,
  .header__menu-icon:before {
    content: "";
  }

  .header__menu-icon:before {
    top: 0;
  }

  .header__menu-icon:after {
    bottom: 0;
  }

  .header__menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .header__menu-icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
    background-color: #0C336F;
  }

  .header__menu-icon._active:before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .header__menu-icon._active:after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background-color: #fff;
    padding: 110px 30px 30px 30px;
  }

  .menu._active {
    left: 0;
  }

  .menu:before {
    content: "";
    display: block;
    height: 95px;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
    background-color: #fff;
    position: fixed;
  }

  .menu._active::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .menu__link {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 492px;
  }

  .header {
    padding: 12px 0px;
  }

  .header__container {
    padding: 0px 10px;
  }

  .header__body {
    gap: 15px;
  }

  .header-items {
    gap: 5px;
  }

  .header-items__icon img {
    width: 17px;
    height: 17px;
  }

  .header-items__label {
    font-size: 10px;
  }

  .header-items__link {
    font-size: 12px;
  }

  .header-items-dropdown__link {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .header__button {
    display: none;
  }
}